html, body { height: 100%;}

a { color: #000777; font-size: 12px; text-decoration: none;}

a:hover { color: #8d0000;}

body {
	font-family: "FranklinGothic Medium", Arial, Helvetica, sans-serif;
	color: #000777;
	font-size: 12px;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 { font-color: #8d0000; font-size: 12px;}

h1 { 
	width: 1021px;
	text-indent: 20px;
	font-size: 16px;
	text-transform: uppercase;
	border-bottom: 4px #000777 solid;
	bottom-padding: 9px;
	top-padding: 36px;
}

h2 { font-size: 13px; text-indent: 20px; border-bottom: 1px #000777 solid;}

h3 { 
	font-size: 15px;
	text-transform: uppercase;
	text-indent: 20px;
	border-bottom: 2px #000777 solid;
	padding-right: 18px;
}
