@font-face {
	font-family: fgm;
	src: url(../fonts/framd.ttf) format("truetype"); /*FIX for IE*/
}

html, body { height: 100%;}

a { color: #000777; text-decoration: none;}

a:hover { color: #8d0000;}

p { padding: 1em 0;}



body {
	font-family: fgm, helvetica, Arial, sans-serif; 
	color: #000777;
	font-size: 13px;
	margin: auto 0;
	line-height: 20px;
}

h1, h2, h3, h4, h5, h6 { 
	color: #8d0000;
	font-size: 13px;
	margin: 0 -20px 0;
}

h1 { 
	text-indent: 20px;
	font-size: 16px;
	text-transform: uppercase;
	border-bottom: 4px #000777 solid;
	padding-bottom: 9px;
	padding-top: 36px;
}

h2 { text-indent: 20px; border-bottom: 2px #000777 solid;}

h3 { }