#top {
	background: url(../images/bgtop.jpg) repeat-x;
}

#top > div {
	width: 1021px;
	margin: 0 auto;
}

#logo1 {
	margin: 0 0 31px;
	float: left;
}

#logo2 {
	margin: 0 0 53px;
	float: right;
}

#mainmenu {
	background: url(../images/mainmenubg.jpg) repeat-x;
}

#content {
	background: url(../images/bgcontent.jpg) repeat-x;
	width: 0 auto;
	padding-top: 41px;
	padding-bottom: 43px;
}

#content > div {
	width: 1021px;
	margin: 0 auto;
	border: 1px solid black;
	background: white;
}

#bottom {
	background: url(../images/bgbottom.jpg) repeat-x;
	width: 0 auto;
}

#footer {
	background: url(../images/bgfooter.jpg) repeat-x;
	width: 0 auto;
	padding: 18px 0;
}

#footer > div {
	width: 1021px;
	margin: 0 auto 0;
}

#footer > div > div {
	float: right;
	padding: 0 12px;	
}

/* Extra Items to be removed before going live */

#top { height: 197px;}
#mainmenu { height: 58px;}
#content { height: 471px;}
#bottom { height: 349px;}
#footer { height: 166px;}





