.moduletable_menu {}

.moduletable_menu a {
	color: #000777;
	text-decoration: none;
	text-align: center;
}

.moduletable_menu a:hover { color: #8d0000;}

.moduletable_menu ul { }

.moduletable_menu li {
	padding: 20px 0 0 6px;
	font-size: 14px;
	list-style: none;
	background: none;
	display: inline;
	position: relative;
}

.moduletable_menu li:hover ul { display: block;}

.moduletable_menu ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: green;
	text-align: left;
	display: none;
	text-transform: capitalize;
}

.moduletable_menu ul ul li { display: block;}

#top .moduletable_menu ul { text-align: right;}

#mainmenu .moduletable_menu { text-transform: uppercase;}

#mainmenu .moduletable_menu a { color: white;}

#mainmenu .moduletable_menu a:hover { 
	color: white; 
	background-color: #ac0000;
	padding: 20px 0 14px;
}

#mainmenu .moduletable_menu ul { margin: 0; margin-top: -8px;}

#mainmenu .moduletable_menu li {
	float: left;
	padding: 0 12px 0;
	line-height: 58px;
}

#mainmenu .moduletable_menu ul ul li {
	font-size: 12px;
	float: none;
	line-height: 24px;
}

#mainmenu .moduletable_menu ul ul li:first-child { line-height: 30px;}

#bottom .moduletable {
	float: left;
	width: 310px;
	margin-left: 14px;
	padding: 0 10px;
}

#bottom .moduletable:first-child  { margin-left: 0;}

.moduletable h3 {
	font-size: 15px;
	text-transform: uppercase;
	text-indent: 20px;
	border-bottom: 4px #000777 solid;
	margin: 0 -10px;
}

#footer .moduletable { position: absolute; top: 0; right: 0;}
