.moduletable_menu {}

.moduletable_menu ul {
	font-size: 10px;
	margin: 0;
}

.moduletable_menu li {
	padding: 0 0 0 6px;
	display: inline;
	position: relative;
	text-align: center;
}

.moduletable_menu li > a,
.moduletable_menu li > span {
	color: #000777;
	text-decoration: none;
}
.moduletable_menu li > a:hover { color: #ad0000; }

.moduletable_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 33px;
	text-align: left;
	width: 100%;
}
.moduletable_menu li:hover ul { display: block; }
.moduletable_menu ul ul li { display: block; }

/* top menu overrides */
#top .moduletable_menu ul { text-align: right; }

/* main menu overrides */
#mainmenu .moduletable_menu { }

#mainmenu .moduletable_menu ul {
	font-size: 14px;
	margin: 0 -8px;
	text-transform: uppercase;
}

#mainmenu .moduletable_menu li {
	background: url(../images/mainmenuseparator.png) 25px 8px no-repeat;
	float: left;
	padding: 0 0 0 47px;
}


#mainmenu .moduletable_menu li > a,
#mainmenu .moduletable_menu li > span { 
	color: white;
	display: block;
}

#mainmenu .moduletable_menu li a span,
#mainmenu .moduletable_menu li span span {
	display: block;
	line-height: 50px;
	padding: 8px 0 0 0;
}
#mainmenu .moduletable_menu li.last a span,
#mainmenu .moduletable_menu li.last span span { 
	background: url(../images/mainmenuseparator.png) right 8px no-repeat;
	padding-right: 25px;
}

/* hover */
#mainmenu .moduletable_menu li:hover {
	background: url(../images/menu_hover_top.png) 17px 0 no-repeat;
}
#mainmenu .moduletable_menu li:hover > a,
#mainmenu .moduletable_menu li:hover > span {
	background: url(../images/menu_hover_top.png) 0 -116px no-repeat;
}

#mainmenu .moduletable_menu li:first-child:hover > a span,
#mainmenu .moduletable_menu li:first-child:hover > span span {
	background: url(../images/menudropdownindicator.png) 12px 44px no-repeat;
}

#mainmenu .moduletable_menu li:hover + li {
	background: url(../images/menu_hover_top.png) -3px -58px no-repeat;
}

/* drop down */
#mainmenu .moduletable_menu ul ul {
	background: #A20000 url(../images/dropdownmenubg.jpg) bottom repeat-x;
	background: 3px solid #AC4546;
	padding-right: 3px;
	text-transform: none;
}
#mainmenu .moduletable_menu li:hover ul { display: block; }

#mainmenu .moduletable_menu ul ul li {
	background: none;
	float: none;
	font-size: 12px;
	line-height: 30px;
	margin-right: -3px;
	padding: 0 15px;
	text-align: left;
}

#mainmenu .moduletable_menu ul ul li a span,
#mainmenu .moduletable_menu ul ul li span span,
#mainmenu .moduletable_menu ul ul li.last a span,
#mainmenu .moduletable_menu ul ul li.last span span {
	background: none;
	line-height: 24px;
}

/* drop down hover */
#mainmenu .moduletable_menu ul ul li:hover {
	background: url(../images/dropdownmenuhover.png);
}

#mainmenu .moduletable_menu ul ul li:hover + li,
#mainmenu .moduletable_menu ul ul li:hover > a,
#mainmenu .moduletable_menu ul ul li:hover > span,
#mainmenu .moduletable_menu ul ul li:hover a span,
#mainmenu .moduletable_menu ul ul li:hover span span {
	background: none;
}

/* bottom modules */
#bottom .moduletable {
	float: left;
	width: 310px;
	margin-left: 14px;
	padding: 0 10px 1em;
	position: relative;
}

#bottom .moduletable:first-child  { margin-left: 0;}

.moduletable h3 {
	font-size: 15px;
	text-transform: uppercase;
	text-indent: 20px;
	border-bottom: 4px #000777 solid;
	margin: 0 -10px;
}

#footer .moduletable { position: absolute; top: 0; right: 0;}
